body {
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #333;
}
.account, .deliverman-info {
    margin: 20px 0;
}
.account p, .deliverman-info p {
    font-size: 16px;
    color: #666;
}
.actions {
    display: flex;
    text-align: center;
    gap: 10px; /* 按钮之间的间距 */
}
a {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    color: #fff;
    background: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
a:hover {
    background: #0056b3;
}
.actions a:last-child {
    margin-right: 0; /* 取消最后一个按钮的右边距 */
}
.actions a:hover {
    background: #0056b3;
}