body {
    background-color: #f9f9f9;
    font-family: "宋体", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}
h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 0;
    color:black;
}
h3 {
    text-align: right;
    margin: 0;
    font-size: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
td {
    background-color: #fefefe;
}
p {
    margin: 5px 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}