body{
    text-align: center;
    font-family: "宋体",sans-serif;
}
h2{
    font-size: 32px;
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:hover {
    background-color: #f9f9f9;
}

#linker {
    text-align: center;
    margin-top: 20px;
}

#linker a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#linker a:hover {
    background-color: #ddd;
}
nav {
    margin-top: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: #007BFF;
}
nav ul li a:hover {
    text-decoration: underline;
}