body{
    text-align: center;
    font-family: "宋体",sans-serif;
}
h2{
    font-size: 32px;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
button {
    padding: 10px 20px;
    font-size: 16px;
}